<%= form_for [:manager, @city] do |f| %>

    <% if @city.errors.any? %>
        <div id="error_explanation">
            <h3>
                <%= pluralize(@city.errors.count, 'error') %>
                Prevented this city from being saved:
            </h3>
            <ul>
                <% @city.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= f.label :name, 'Name: ' %>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.submit %>
        <%= link_to 'Back', manager_cities_path %>
    </p>

<% end %>

