<h1>Отзывы о местечке под названием <%= @place.name %></h1>

<%= link_to '← Обратно', manager_places_path %>

<% @reviews.each do |review| %>
    <div style="width: 250px">
        <p>
            <%= review.text %>
        </p>

        <p>Автор: <%= review.user.name %></p>
        <p>Отзыв: <%= review.vote %></p>
        <p><%= link_to 'Редактировать', edit_manager_place_review_path(@place, review) %></p>
        <hr/>
    </div>
<% end %>