<%= form_for :place, url: manager_places_url do |f| %>

    <h2>Basic</h2>

    <% if @place.errors.any? %>
        <div id="error_explanation">
            <h3>
                <%= pluralize(@place.errors.count, 'error') %>
                Prevented this place from being saved:
            </h3>
            <ul>
                <% @place.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= f.label :name, 'Name: ' %>
        <%= f.text_field :name %>

        <%= f.label :place_type, 'Type: ' %>
        <%= f.text_field :place_type, value: 'Ресторан' %>
    </p>

    <p>
        <%= f.label :desc, 'Description: ' %>
        <%= f.text_area :desc %>
    </p>

    <h2>Location</h2>

    <p>
        <%= f.label :city, 'City: ' %>
        <%= f.select :city_id, City.all.collect {|city| [city.name, city.id]} %>

        <%= f.label :street, 'Street: ' %>
        <%= f.text_field :street %>

        <%= f.label :building, 'Building' %>
        <%= f.text_field :building %>
    </p>

    <h2>Images</h2>

    <p>
        <%= f.label :logo, 'Logo: ' %>
        <%= f.file_field :logo %>

        <%= f.label :img, 'Img: ' %>
        <%= f.file_field :img %>
    </p>

    <h2>Meta</h2>

    <div>
        <%= f.label :flags, 'Flags' %> <a href="#" id="add-flag">+</a>

        <ul>
            <% if @place.flags %>
                <% @place.flags.each do |flag| %>
                    <li><%= f.text_field :flags, multiple: true, value: flag %><a href="#" class="delete-flag">x</a></li>
                <% end %>
            <% else %>
                <li>
                    <%= f.text_field :flags, multiple: true, value: 'smoke_room' %>
                    <a href="#" class="delete-flag">x</a>
                </li>
                <li>
                    <%= f.text_field :flags, multiple: true, value: 'can_book' %>
                    <a href="#" class="delete-flag">x</a>
                </li>
                <li>
                    <%= f.text_field :flags, multiple: true, value: 'has_parking' %>
                    <a href="#" class="delete-flag">x</a>
                </li>
            <% end %>
        </ul>
    </div>

    <p>
        <%= f.label :hours, 'Hours' %>
        <%= f.text_field :hours, value: '{"mon":["12:00","21:00"],"tue":["12:00","21:00"],"wed":["12:00","21:00"],"thu":["12:00","21:00"],"fri":["12:00","21:00"],"sat":["12:00","21:00"],"sun":["12:00","21:00"]}', style: 'width:900px' %>
    </p>

    <h2>Geo</h2>

    <p>
        <%= f.label :long, 'Long: ' %>
        <%= f.text_field :long %>

        <%= f.label :lat, 'Lat: ' %>
        <%= f.text_field :lat %>
    </p>

    <p>
        <%= f.submit %>
        <%= link_to 'Back', manager_places_path %>
    </p>
<% end %>